$main-font-color : #373e42;
$bz-color : #00bfa5;
$bz2-color : #009688;

@import "second/fonts";
@import "second/mixins";
.clearfix{
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
html{

  @include tablets{
    font-size: 14px;
  }
}
//header------------------------
.gsection{
  height: 100vh;
}
.bsection{
  height: 60vh;
  @include phones{
    height: 100vh;
  }
}

.wrapper {
  &_mod:after{
    height: 0px !important;
  }

  &:after {
    content: '';
    height: 80px;
    display: block;
  }

  &-welcome {
    font-family: 'Roboto Medium';
    background: url(../img/bg.jpg);
    background-size: cover;
    position: relative;
  }
}

.buttonauth{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 180px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 4px;
  text-align: center;
  line-height: 43px;
  &__link{
    display: block;
    width: 100%;
    height: 100%;
    transition: .3s;
    &:hover{
      background-color: #fff;
      color: $bz-color;
    }
  }
  @include tablets {
    @include centered(x)
  }
}
.flex{
  display: flex;
  justify-content: center;
  //align-items: center;
}
//.form__chec__radio:checked + label:before {
//  content: "\2022";
//  color: #f3f3f3;
//  font-size: 30px;
//  text-align: center;
//  line-height: 18px;
//}

.form{
  &__auth {
  font-family: Roboto-Regular;
  padding-bottom: 30px;
  }

  &__input_main{
    padding-left: 15px 15px 15px 60px;
  }

  &__lblmain{
    font-family: FontAwesome;
    position: absolute;
    left: 20px;
    line-height: 48px;
    color: #c4cbcd;
    width: 50px;
    background-color: #f0efe9;

    &_login:after{
      content: '\f007';
    }
    &_pswrd:after{
      content: '\f084';
    }
  }

  &__chec{
    display: none;
    &:checked ~ .form__lbl{
      content: "";
      position: absolute;
      left: 8px;
      top: 8px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $bz-color;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
      z-index: 3;
    }
  }
  &__you{
    font-weight: bold;
    margin: 10px;
  }
  &__lbl{
    cursor: pointer;
    position: relative;
    margin: 20px;
    padding-left: 30px;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      background-color: #fff;

    }
    &__radio:before{
      border-radius: 50%;
    }
    &__chec:before{
      border-radius: 4px;
    }
  }
}
.usercart{
  width: 380px;
  height: 420px;
  border-radius: 4px 4px 0 0;
  @include centered()
  @include phones{
    @include centered(x)
    top: 80px;
  }
  &__rotate{
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
    transform: rotateY(0deg);
    &:hover{
      transform: rotateY(180deg);
    }

  }

  &-info_1{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    //transform: rotateY(180deg);
  }
  &-info_2{
    width:100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  &_fon{
    width: 100%;
    background: url(../img/portfolio_header.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__photo{
    border-radius: 50%;
    width: 140px;
    margin: 30px;
    &_blog{
      margin-bottom: 0;
    }
  }

  &_blog{
    top: 55%;

  }
  &-info{
    text-align: center;

    &_blog{
      padding-bottom: 70px;
      background-position: bottom;
      background-repeat: no-repeat;
    }

    &__mod p{
      color: #fff;
    }
    &__name{
      font-size: 35px;
      &_28px{
        font-size: 28px;
      }
    }
    &__description{
      font-family: Roboto;
      color: rgba(#455a64, .8);
      font-weight: 300;
      &_norm{
        color: #fff;
        font-weight: normal;
      }
    }
    &_fon{
      background-size: contain;
      background-position: center bottom;
      padding-bottom: 70px;
    }
  }

  &-welcome{
    background-color: rgba(#fcfcfc,0.85);
  }

  &-title{
    padding:0 80px !important;
    &:before, &:after{
      background-color: rgba(#fff, .2);
    }
    &-text{
      font-size: 63px;
      color: #ffffff;
    }
  }
  &_phone{
    @include phones{
      @include centered(x)
      top: 100px;
    }
  }

  &__menu{
    background: rgba($bz-color,1);
    border-radius: 0 0 4px 4px;
    &__list{
      width: 380px;
      display: flex;
      justify-content: space-between;
      line-height: 48px;
      &__item{
        border-right:solid 2px rgba(#dee3e7,.5);
        flex-grow: 1;
        text-align: center;
        transition: .3s;

        &:last-child{
          border-right: 0px;
          border-radius: 0 0 4px;
        }
        &:first-child{
          border-radius: 0 0 0 4px;
        }

        &:hover{
          background-color: rgba($bz2-color,.85);
        }
        &__link{
          display: block;
        }
      }
    }
  }
}

.soclinks{
  padding: 30px 0;
  &__footer{
    margin: 19px 25px;
  }
  &__mod{
    position: absolute;
    top: 30px;
    left: 30px;
    @include phones{
      top: 10px;
      left: 10px;
    }
  }
  &__list__item{
    display: inline-block;
    &__link{
      margin:0 15px;
      display: block;
      &_footer{
        display: inline-block;
        border: 1px solid rgba(#fff,.5);
        border-radius: 50%;
        width: 52px;
        padding: 9px;
        margin: 0 5px;
        color: rgba(#ffffff,0.5);
        transition: .3s;
        &:hover{
          background: #ffffff;
          color: rgba(#000,0.5);
        }
        @include phones{
          font-size: 14px;
        }
      }
      &_colbr{
        color: rgba(#00bfa5,0.5);
        :hover{
          color: rgba(#00bfa5,1);
        }
      }
      &_colbel {
        color: rgba(#fff, 0.5);
        &:hover {
          color: rgba(#fff, 1);
        }
      }
    }
  }
}
.menu__hamburger{
  cursor: pointer;
  display: block;
  position: absolute;
  top: 40px;
  right: 30px;
  width: 40px;
  height: 30px;
  z-index: 2;

  span:after,span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
  }

  span {
    position: relative;
    display: block;
    &:after{
      top: 26px;
    }
  }

   span,
   span:after,
   span:before {
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
    }
  @include phones{
    top: 10px;
    right: 10px;
  }
}
//header-end------------------------


//footer----------------------------
.empty{
  height: 150px;
}
.footer{
  position: relative;
  width: 100%;
  margin-top: -50px;
  z-index: 1;

  @include tablets{

    margin-top: -220px;
  }
  &_main{
    height: 150px;
    margin-top: -150px;

  }
  &__row{
    clear: both;
    background-color: rgba(#373e42, 0.85);

    &_hr{
      border-top: solid rgba(#fff,.5) 1px;
      font-family: "Roboto Light";

    }
  }
  &__left{
    float: left;
    width: 50%;
    text-align: left;
    @include tablets{
      width: 100%;
      text-align: center;
    }

    &__nav-menu{
      margin: 30px 25px;
      @include tablets{
        margin:30px 25px 0;
      }
      @include phones{
        margin:30px 0 0;
      }
      &__item{
        display: inline-block;
        margin: 5px;
        @include tablets{
          margin: 0 17px;
        }
        @include phones{
          margin:0 5px;
          font-size: 13px;
        }
      }
      &__link:hover{
        color: #00C19F;
      }
    }
  }
  &__right{
    float: right;
    width: 50%;
    text-align: right;
    @include tablets{
      width: 100%;
      text-align: center;
    }
  }
  &__about{
    color: rgba(#fff,.5);
    margin: 10px 25px;
  }
  &__about-user-name{
    text-align: right;
    color: rgba(#fff,.5);
    margin: 10px 25px;
    @include tablets{
      text-align: center;
    }
  }
  .copyright{
    font-family:"Roboto Light";
    padding-top: 14px;
    text-align: center;
    color: #ffffff;
  }
}

//footer end---------------------------------

//about-------------------------------------

.down_arrow{
  bottom: 40px;
}

.about{
  display: flex;
}
.about__left, .about__right {
  float: left;
  width: 50%;
  position: relative;
}
.triangle {
  position: absolute;
  bottom: 100%;
  height: 100px;
  width: 100%;
  fill: #fff;
  &_left{
    fill: #efeee9;
  }
  &_col-ser{
    fill: #F0EBDD;
    &_main{
      @include tablets{
        fill: #efeee9;
      }
    }
  }
}
.title {
  color: $main-font-color;
  font-family:'BERNIER Regular';
  font-size:35px;
  padding: 45px 80px;
  display: inline-block;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  $margin : 40px;

  &_auth{
    padding: 40px 80px;
  }
  &.about__user__info__title{
    background: url(../img/about_header.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

  }
  &_mod{
    padding:10px 80px;
  }

  &_sub{
    padding: 20px 80px;
  }

  &:after, &:before {
    content: "";
    display: block;
    @include centered(y);
    background: rgba($main-font-color, .2);
    width: 22px;
    height: 5px;
  }

  &:after {
    right: $margin;
  }

  &:before {
    left: $margin;
  }
}

.about__user{
  display: flex;
  text-align: center;
  background-color: #F0EBDD;
  @include tablets{
    flex-wrap: wrap;
  }
  &__info{
    flex-grow: 1;
    background: #efeee9;
    width: 50%;
    @include tablets{
      width: 100%;
    }
    &__header__text{
      font-size: 63px;
    }

    &__picture{
      width: 320px;
      margin: 0 auto;
      @include phones{
        width: 100%;
      }
    }

  }

  &__data{
    flex-grow: 1;
    width: 50%;
    @include tablets{
      width: 100%;
    }
    &__content{
      margin-top: 20px;
    }
  }
}

.about__user__info__text, .about__user__data__description__text{
  word-wrap: break-word;
  margin: 0 30px 20px;
  text-align: left;
  line-height: 24px;
  overflow: hidden;
}

.skills {
  text-align: left;
  margin-left: 30px;
  @include tablets{
    text-align: center;
    margin: 0;
  }
  &__item {
    font-family: "Roboto Medium";
    font-size: 28px;
    margin: 40px 0;
  }
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width:110px;
  fill: none;
  stroke-width: 15;
}
.circle {
  &__first {
    stroke: #dfdcd5;
  }

  &__second {
    stroke: #1bb696;
    stroke-dasharray: .0010 282.6;
    transition: all 1s;
  }
}

.skill {
  display: flex;
  flex-wrap: wrap;
  @include tablets{
    justify-content: center;
  }
  &__item {
    width: 110px;
    height: 110px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 15px 0 0 15px;
    padding: 0 20px;
    text-align: center;
    &__name{
      color: $bz-color;
    }
  }
}

.map{
  position: relative;
  background: url(../img/map.jpg);
  clear: both;
  height: 800px;
}

.contacts{
  @include centered();
  width: 380px;
  border-radius: 4px;
  background-color: rgba(#fcfcfc,0.85);
  text-align: center;
  @include phones{
    @include centered(x);
    top: 0;
  }
  &__info{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    &__item{
      font: normal normal normal 16px/1 FontAwesome;
      padding: 20px 20px 20px 40px;
      position: relative;
      &:before{
        position: absolute;
        left: 20px;
        top: 10px;
        font-size: 36px;
        color: #00C2A1;
        transform: translateX(-50%);
      }
      &__link{
        color: rgba(#455a64,.8);
        font-family: "Roboto Medium";
        margin: 20px;
        &:hover{
          color: rgba(#455a64,1);
        }
      }
    }
  }
  &__skype:before{
    content: "\f17e";
  }
  &__mail:before{
    content: "\f0e0";
  }
  &__phone:before{
    content: "\f095";
  }
  &__adress:before{
    content: "\f041";
  }
}
//about end------------------------------


//blog start-----------------------------

.blog__menu, .blog__contain{
  float: left;
}

.container{
  width: 100%px;
  margin: 10px auto;
}

.blog{
  font-family:Roboto-Regular;
  &__menu{
    width: 25%;
    @include tablets{
      display: none;
    }
    &__list__link{
      padding: 18px;
      margin: 15px;
      text-align: right;
      &.link_active{
        border-right:3px solid #00bfa5;
        color: #00bfa5;
        font-family:Roboto;
        font-weight:bold;
      }
    }
  }
  &__contain{
    width: 75%;
    @include tablets{
      width: 100%;
    }
    &__list{
      width: 80%;
      margin: 0 auto;
      &__link{
        padding-bottom: 55px;
        margin-bottom: 40px;
        border-bottom: 5px solid rgba(#373e42, .07);
        &:last-child{
          border-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
  }
  &__title{
    font-family:"BERNIER Regular";
    font-size: 35px;
    margin: 20px 0;
  }
  &__data{
    color: #00bfa5;
    margin: 5px 0 20px;
  }
  &__text{
    line-height: 26px;
    word-wrap:break-word;
    overflow: hidden;
    &__content{
      padding-bottom: 15px;
    }
  }
}

//blog end----------------------------

//works

.works{
  text-align: center;
  &__header{
    background: url(../img/works_header.png) no-repeat;
    background-size: contain;
    &__text{
      font-size: 63px;
    }
  }

  &__slider{
    background-color: #f0efe9;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    margin-bottom: 20px;
    min-height:650px;
    height: 100vh;
    @include tablets{
      flex-wrap: nowrap;
      height: auto;
    }

    &__info{
      height: 100%;
      display: flex;
      background-color: #ebefe2;
      width: 50%;
      @include  tablets{
        width: 100%;
      }
      &__container {
        margin:auto;
        @include tablets{
          margin-bottom: 50px;

        }

        &__desc {
          color: $bz-color;
          max-width: 420px;
          border-top: 1px solid rgba($bz2-color, .3);
          border-bottom: 1px solid rgba($bz2-color, .3);
          line-height: 50px;
          margin: 0 auto 40px;
          text-transform: uppercase;
        }

        &__but {
          margin: auto;
          width: 200px;

          &__link {
            display: block;
            line-height: 45px;
            background-color: $bz-color;
            border-radius: 4px;
            transition: .5s;
            &:before {
              content: '\f0c1';
              font: normal normal normal 16px/1 FontAwesome;
              margin: 10px;
            }
            &:hover {
              background-color: $bz2-color;
            }
          }
        }
      }
    }

    &__photo {
      max-height: 100%;
      flex: 3;
      width: 50%;
      @include tablets{
        order:-1;
        width: 100%;
      }

      &__img{
        width: 100%;
        padding: 68px 50px;
        max-width:700px;
        max-height: 600px;
        @include tablets{
          padding: 50px 0 0 0;
        }
      }

    }

    &__control {
      display: flex;
      justify-content: space-between;
      height: 100%;
      flex: 1;
      width: 50%;
      @include  tablets{
        width: 100%;
      }
      &__arrow {
        flex-grow: 1;
        position: relative;

        &__arrow{
          position: absolute;
          background: rgba(#888372,.5);
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          &:before{

            font: normal normal normal 30px/1 FontAwesome;
            @include centered();
            text-shadow: 0px 2px 2px #000 ;
          }
        }

        &__img{
          max-width: 100%;
          max-height: 100%;

        }

        &_prev:before{
          content: '\f078';
        }
        &_next:before{
          content: '\f077';
        }
      }
    }
  }
}


.aboutme{
  background: url(../img/bg-footer.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  background-position-y: center;
  height: 100%;
}

.title-aboutme{
  font-size: 63px;
  line-height: 1;
}

.container__feed{
  width: 70%;
  margin: 0 auto 50px;
  @include  tablets{
    width: 100%;
  }
}

.feedbacks__item{
  float: left;
  width: 50%;
  text-align: left;
  padding: 0 20px;
  @include phones{
    width: 100%;
  }
  &__link{
    margin: 15px 0;
  }
  &__icon{
    color: rgba(#373e42,.2);
    @include phones{
      text-align: center;
    }
  }
  &__profile__info{
    padding: 25px;
    .p{
      color: #20b5a1;
    }
    .pb{
      font-weight: bold;
    }
  }
  __text{
    word-wrap:break-word;
    overflow: hidden;
  }
}

.feedbacks__item__profile__photo, .feedbacks__item__profile__photo{
  float: left;
  margin: 10px 20px;
}

.contform{
  margin: auto;
  padding-bottom: 160px;
  &__title{
    text-align: center;
    padding: 10px 60px;
    &:before{
      left: 20px;
    }
    &:after{
      right: 20px;
    }
  }
}

.blur__form{
  width: 380px;
  margin: 0 auto;
  border-radius: 4px;
  background: rgba(#fff, .15);
}

.form{
  margin:0 auto;
  &__input{
    display: block;
    margin: 0 20px 20px;
    padding: 15px;
    border-radius: 4px;
    border: 0;
    width: 90%;
    &_main{
      padding-left: 60px;
    }
  }
  &__menu{
    display: flex;
    justify-content:space-between;
    height: 45px;
    border-radius: 0 0 4px 4px;
    &__input{
      cursor: pointer;
      flex-grow: 1;
      border:0;
      border-right: solid 2px rgba(222, 227, 231, 0.5);
      background: rgba($bz-color,.85);
      color: #fff;
      transition: .5s;
      &:first-child{
        border-radius: 0 0 0 4px;
      }
      &:last-child{
        border:0;
        border-radius: 0 0 4px 0;
      }
      &:hover{
        background: rgba($bz2-color,1);
      }
    }
  }
}

.arrow{
  @include centered(x);
  z-index: 2;
  &__a{
    color: rgba(#ffffff,.7);
    transition: .5s;
    &:hover{
      color: #ffffff;
    }
  }
}
.up_arrow{
  bottom: 75px;
}

//Works end
