html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #373e42;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  margin: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size:35px;
}
* {
  box-sizing: border-box;
}