extends ../_template

block variables
  - var title = 'Страница приветствия'

block content
  + preloader
  section.hero
    .hero__parallax#parallax-mouse
      each item in ['2','3','4','5','6','7','8','9','10']
        .hero__parallax__layer
          img.hero__parallax__layer-img(src=`assets/img/parallax/parallax-${item}.png`)
    .buttonauth
      a.buttonauth__link.active-button(href='#' id='authorizationButton') Авторизоваться
    .usercart
      .usercart__rotate
        .usercart-info_1
          .usercart-info.usercart-welcome
            img(src="/assets/img/me.jpg").usercart__photo
            .usercart-info__name.usercart-info__name_28px
              | Михаил Журкин
            .usercart-info__description.usercart-info__description_col-ser
              | Личный сайт веб разработчика
            .soclinks
              ul.soclinks__list
                each item in [{name:'vk', link:'https://vk.com/id391548754'}, {name:'github-alt', link:'https://github.com/michaelsmith1'}, {name:'linkedin', link:'#'}]
                  li.soclinks__list__item
                    a(href=`${item.link}` target='_blank').soclinks__list__item__link.soclinks__list__item__link_colbr
                      i(class=`fa fa-${item.name} fa-2x` aria-hidden='true')
          .usercart__menu
            ul.usercart__menu__list
              each mnu in [{name: 'Мои работы', link: 'works'}, {name: 'Обо мне', link: 'about'}, {name: 'Блог', link:'blog'}]
                li.usercart__menu__list__item
                  a.usercart__menu__list__item__link(href=`${mnu.link}.html`)=mnu.name
        .usercart-info_2
          .usercart-info.usercart-welcome.usercart_auth
            .title.title_auth Авторизуйтесь
            form.form__auth#authorization(method='post' action='')
              .tooltip_error.tooltip_error-login Вы не ввели логин
              label.form__lblmain.form__lblmain_login
              input.form__input.form__input_main#input_login(placeholder='Логин' type='text' name='login')

              .tooltip_error.tooltip_error-pswrd Вы не ввели пароль
              .tooltip_error.tooltip_error-chec Кто же вы?

              label.form__lblmain.form__lblmain_pswrd
              input.form__input.form__input_main#input_pswrd(placeholder='Пароль' type='password' name='password')
              label.form__lbl.form__lbl__chec
                input.form__chec.form__chec_chel#chel(type='checkbox' name='chel' )
                span.form__chec_s.form__chec_chel_s Я человек
              .form__you Вы точно не робот?
              label.form__lbl.form__lbl__radio
                input.form__chec.form__chec__radio#no_robot(type='radio' name='robot' value='1')
                span.form__chec_s.form__chec__radio_s Да
              label.form__lbl.form__lbl__radio
                input.form__chec.form__chec__radio#robot(type='radio' name='robot' value='0')
                span.form__chec_s.form__chec__radio_s Не уверен
              .error__msg
              .usercart__menu
                ul.usercart__menu__list
                  li.usercart__menu__list__item
                    a.usercart__menu__list__item__link.buttonauth__link-(href='#')
                      | На главную
                  li.usercart__menu__list__item
                    input.usercart__menu__list__item__link(type='submit' name='send' value='Войти')
  footer.footer
    .copyright
      | © Михаил Журкин | создано с любовью студентом LoftSchool | 2017